# Database gateway
poolName=gateway
base=15
log=log/${yyyy-MM-dd}.log
idleTime=300000
#logLevel=verbose,info,warn,error,crisis
logLevel=error,crisis
#driverClass=oracle.jdbc.driver.OracleDriver
driverClass=com.mysql.jdbc.Driver
driverURL=jdbc:mysql://localhost:3306/smsgw
user=smsgw
password=smsadmin1122334455
killActiveConnectionsOverAge=-1
cycleConnections=-1
queueConnectionRequests=true
waitForConnectionIfDatabaseIsDown=true
# Database alert
poolName=alert
base=3
log=log/${yyyy-MM-dd}.log
idleTime=300000
logLevel=error,crisis
driverClass=com.mysql.jdbc.Driver
driverURL=jdbc:mysql://localhost:3306/smsgw
user=smsgw
password=smsadmin1122334455
killActiveConnectionsOverAge=-1
cycleConnections=-1
queueConnectionRequests=true
waitForConnectionIfDatabaseIsDown=true
