# Database gateway
poolName=gateway
base=90
log=log/${yyyy-MM-dd}.log
idleTime=300000
#logLevel=verbose,info,warn,error,crisis
logLevel=error,crisis
#driverClass=oracle.jdbc.driver.OracleDriver
driverClass=com.mysql.jdbc.Driver

driverURL=jdbc:mysql://localhost:3306/smsexgame
user=root
password=bavama
killActiveConnectionsOverAge=120000
cycleConnections=1000
queueConnectionRequests=true
waitForConnectionIfDatabaseIsDown=false
# Database alert
poolName=alert
base=20
log=log/${yyyy-MM-dd}.log
idleTime=300000
logLevel=info,warn,error,crisis
driverClass=com.mysql.jdbc.Driver

driverURL=jdbc:mysql://localhost:3306/smsexgame
user=root
password=bavama
killActiveConnectionsOverAge=120000
cycleConnections=1000
queueConnectionRequests=true
waitForConnectionIfDatabaseIsDown=false
